$css-blue: rgb(0, 172, 228);
$html-orange: rgb(227, 76, 38);
$js-yellow: rgb(228, 161, 38);
$main-blue: rgb(154, 206, 195);
$box-shadow: -7px 5px 4px 0px #000000bf;
$hover-box-shadow: -20px 15px 9px 3px #0000008c;
$button-border-radius: 10px;
$main-font-fam: 'Poppins', sans-serif; 